{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle équipe{% endblock %}

{% block body %}
    <h1>Créer une nouvelle équipe</h1>

    {{ include('team/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_team_index') }}" class="btn btn-secondary">Retour à la liste</a>
    {% endif %}
{% endblock %}
