<form method="post" action="{{ path('app_thumbnail_delete', {'id': thumbnail.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ thumbnail.id) }}">
    <button class="btn">Delete</button>
</form>
