<form method="post" action="{{ path('app_thumbnail_delete', {'id': thumbnail.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l'image n°{{ thumbnail.id }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ thumbnail.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
