{% extends 'base.html.twig' %}

{% block title %}Créer un type{% endblock %}

{% block body %}
    <h1>Créer un type</h1>

    {{ include('type/_form.html.twig') }}

    <a href="{{ path('app_type_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
