{% extends 'base.html.twig' %}

{% block title %}Projet Enigma{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello!</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/adrien/Documents/projet_enigma/src/Controller/MainController.php</code></li>
        <li>Your template at <code>C:/Users/adrien/Documents/projet_enigma/templates/main/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
