{% extends 'base.html.twig' %}

{% block title %}Projet Enigma{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="mb-4">Bienvenue sur le Projet Enigma</h1>
        <p class="lead mb-5">Ceci est la page d'accueil de l'application.</p>
        
        <a href="{{ path('app_team_new') }}" class="btn btn-primary btn-lg" id="create-team-button">
            Créer une équipe <i class="bi bi-arrow-right"></i>
        </a>
    </div>
</div>

{% endblock %}