{% extends 'base.html.twig' %}

{# Page qui affiche le champ pour entrer un nom d'équipe + bouton pour démarrer la partie #}

{% block title %}Création de l'équipe{% endblock %}

{% block body %}

<form action="{{ path('app_game_start') }}" method="get" class="team-form">
	<label for="team_name">Nom de l'équipe :</label>
	<input type="text" id="team_name" name="team_name" required>
	<button type="submit" class="">Démarrer la partie</button>
</form>

{% endblock %}
