{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau jeu{% endblock %}

{% block body %}
    <h1>Créer un nouveau jeu</h1>

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('app_game_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
