{% extends 'base.html.twig' %}

{% block title %}Création de la partie...{% endblock %}

{% block body %}

{# css bootstrap #}
<div class="container">
    <h1>Création de la partie en cours... Veuillez patienter.</h1>
</div>

{% endblock %}
