{% extends 'base.html.twig' %}

{% block title %}Liste des paramètres{% endblock %}

{% block body %}
    <h1>Liste des paramètres</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.id }}</td>
                <td>
                    <a href="{{ path('app_setting_show', {'id': setting.id}) }}" class="text-secondary">Afficher</a>
                    <a href="{{ path('app_setting_edit', {'id': setting.id}) }}" class="text-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun paramètre trouvé...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_setting_new') }}" class="btn btn-primary">Nouveau paramètre</a>
{% endblock %}
